=w
  @media only screen and (max-width: "1599px")
    @content
=x
  @media only screen and (max-width: "1439px")
    @content
=mac
  @media only screen and (max-width: "1365px")
    @content
=d
  @media only screen and (max-width: "1279px")
    @content
=t
  @media only screen and (max-width: "1023px")
    @content
=m
  @media only screen and (max-width: "767px")
    @content
=a
  @media only screen and (max-width: "639px")
    @content
=s
  @media only screen and (max-width: "474px")
    @content

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
=f
  font-family: 'Poppins', sans-serif

$dark: #111029
$bl: #00113B
$wh: #fff
$purple: #4C40F7
$red: #FF6800
$yellow: #FFD301
$pink: #FFBDBD
$gray-color: #9F9FA9
$gray-text: #6b6b6b

html
  &.no-scroll
    overflow: hidden

body
  min-width: 275px
  +f
  -moz-osx-font-smoothing: greyscale
  -webkit-font-smoothing: antialiased
  color: $dark
  font-size: 18px
  line-height: (32/18)
  +d
    font-size: 16px
    line-height: (28/16)
  &.no-scroll
    overflow: hidden
  
button,
input,
textarea,
select,
  +f

.icon-arrow-next 
  width: 0.57em
  height: 1em
  fill: #9F9FA9


.icon-arrow-prev 
  width: 0.57em
  height: 1em
  fill: #9F9FA9


.btn
  min-width: 240px
  height: 72px
  border-radius: 20px
  +f
  font-size: 18px
  font-weight: 500 
  transition: all .25s 
  +d
    min-width: 200px
    height: 64px
    border-radius: 12px 
    font-size: 16px
  .icon,
  &__text
    display: inline-block
    vertical-align: middle
  .icon
    +nf
      margin-left: 16px
    +nl
      margin-right: 16px
  .icon
    font-size: 16px
    +d
      font-size: 14px
  &:hover
    transform: translateY(-2px)
  &:active
    transform: translateY(2px)
  &_purple
    background: $purple
    color: $wh 
  &_dark
    background: $bl
    color: $wh  

a.btn
  display: inline-flex
  justify-content: center
  align-items: center

.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight: 600 

.h1
  font-size: 68px
  line-height: (84/72)
  letter-spacing: -.5px
  +d
    font-size: 52px
    line-height: (72/56)
    letter-spacing: -.4px 
  +m
    font-size: 31px
    line-height: (56/42)
    letter-spacing: -.1px

.h2
  font-size: 56px
  line-height: (72/56)
  letter-spacing: -.4px 

.h3
  font-size: 42px
  line-height: (56/42)
  letter-spacing: -.1px
  +d
    font-size: 32px
    line-height: (48/32)
    letter-spacing: -.15px
  +m
    font-size: 20px
    line-height: (28/20)

.h4
  font-size: 32px
  line-height: (48/32)
  letter-spacing: -.15px
  +d
    font-size: 24px
    line-height: (32/24)

.h5
  font-size: 24px
  line-height: (32/24)
  +d
    font-size: 20px
    line-height: (28/20)

.h6
  font-size: 20px
  line-height: (28/20)

.center
  max-width: 1334px
  margin: 0 auto
  padding: 0 82px
  +t
    padding: 0 48px
  +m
    padding: 0 32px

.page
  min-height: 100vh
  overflow: hidden
  position: relative

.stage
  position: relative
  margin-bottom: 24px
  padding-left: 68px
  font-size: 20px
  line-height: 1.4
  font-weight: 600 
  color: $purple 
  +d
    margin-bottom: 16px
    font-size: 16px
  &:before
    content: ""
    position: absolute
    top: 15px
    left: 0
    width: 52px
    height: 2px 
    background: $purple 
    +d
      top: 10px
  &_pink
    color: $pink
    &:before
      background: $pink

.scroll
  display: inline-flex
  align-items: center
  cursor: pointer
  font-size: 16px
  line-height: 1.5
  font-weight: 500 
  color: $dark 
  +d
    font-size: 14px
  &__icon
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0 
    width: 80px
    height: 80px
    margin-right: 24px
    border-radius: 50% 
    background: $wh 
    box-shadow: 0 5px 20px rgba($dark, .05) 
    font-size: 0
    transition: transform .25s 
    +d
      width: 56px
      height: 56px
      margin-right: 16px
    +m
      box-shadow: 0 10px 25px rgba($dark, .1) 
  &__pic
    +d
      width: 16px
  &:hover &__icon
    transform: translateY(3px)

[data-aos="transform"]
  transform: rotateX(90deg) skewY(-5deg)
  opacity: 0
  transition-property: transform, opacity
  &.aos-animate 
    transform: translate(0) rotateX(0deg) skewY(0deg)
    opacity: 1

[data-aos="animation-translate-y"]
  transform: translateY(40px)
  opacity: 0
  transition-property: transform, opacity
  &.aos-animate 
    transform: translateY(0)
    opacity: 1

[data-aos="animation-scale-y"]
  transform: translateY(40px) scaleY(1.4)
  opacity: 0
  transition-property: transform, opacity
  &.aos-animate 
    transform: translateY(0) scaleY(1)
    opacity: 1

[data-aos="animation-scale"]
  transform: translateY(30px) scale(.5)
  opacity: 0
  transition-property: transform, opacity
  &.aos-animate 
    transform: translateY(0) scale(1)
    opacity: 1